#Created automatically 
#Setup environment variables for ZK cluster

declare -a ZK_HOSTS
declare -a ZK_CLIENT_PORTS
declare -a ZK_PEER_PORTS
declare -a ZK_ELECTION_PORTS

{{ with $s := env "CONSUL_QUERY" }}
{{ range service $s "passing, warning" }}
ZK_HOSTS[{{.ID | regexReplaceAll ".*:zkid-([0-9]*)" "$1"}}]={{.Address}}
ZK_CLIENT_PORTS[{{.ID | regexReplaceAll ".*:zkid-([0-9]*)" "$1"}}]=2181
ZK_PEER_PORTS[{{.ID | regexReplaceAll ".*:zkid-([0-9]*)" "$1"}}]=2888
ZK_ELECTION_PORTS[{{.ID | regexReplaceAll ".*:zkid-([0-9]*)" "$1"}}]=3888
{{end}}{{end}}
